# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

.mixin.out/
config/
run/
logs/
mods/
resourcepacks/
saves/
options.txt
usercache.json
